@import "../../../styles.scss";

.footer {
    background-color:  rgb(7, 76, 131);
    color: #ffffff;
    padding: 1.5rem 0;
    text-align: center;
  
    .container {
      max-width: 1200px;
      margin: auto;
      padding: 0 1rem;
    }
  
    p {
      margin: 0.5rem 0;
      font-size: 1rem;
    }
  
    a {
      color: #f39c12;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;
  
      &:hover {
        color: #e67e22;
      }
    }
  }
  