@import "../../../styles.scss";

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: $box-shadow;

  .profile-image {
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .profile-image-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .camera-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .camera-button i {
    color: #fff;
    font-size: 20px;
  }
  
  .profile-image-container:hover {
    cursor: pointer;
    .camera-button {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  .profile-info {
    text-align: center;

    p {
      margin: 5px 0;
      font-size: 16px;
      color: $text-color;

      span {
        font-weight: bold;
      }

      &.email {
        color: $primary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #fotoInput {
    display: none;
  }
}
.account-buttons {
  display: flex;
  flex-direction: row; // Alinea los botones en fila
  justify-content: center; // Los centra horizontalmente
  align-items: center;
  gap: 15px; // Espacio entre los botones

  .btn-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;

    &.terapeuta {
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    &.organizacion {
      background-color: $secondary-color;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }

    i {
      margin-right: 8px;
      font-size: 16px;
    }
  }
}
