<app-header></app-header>

<div class="profile-container">
  <!-- Muestra la foto del usuario si la tienes en 'foto' -->
  <div class="profile-image-container" (click)="triggerInput()">
    <img [src]="foto" alt="Foto de perfil" class="profile-image">
    <button class="camera-button">
      <i class="bi bi-camera"></i>
    </button>
  </div>
  
  <input
    id="fotoInput"
    type="file"
    accept="image/*"
    (change)="onFileSelected($event)"
  />

  <div class="profile-info">
    <p><span>Usuarioid:</span> {{ id }}</p>
    <p><span>Usuario:</span> {{ nombreUsuario }}</p>
    <p><span>Nombre:</span> {{ nombre }}</p>
    <p><span>Email: </span> <a href="mailto:{{ email }}" class="email">{{ email }}</a></p>
    <p><span>Teléfono:</span> {{ telefono }}</p>
    <p><span>Fecha de Nacimiento:</span> {{ fechaNacimiento | date }}</p>
    <p><span>Biografía:</span> {{ biografia }}</p>
    <p><span>Ubicación:</span> {{ ubicacion }}</p>
  </div>

  <div *ngIf="nombreUsuario !== nombreUsuarioLogueado">
    <button *ngIf="!siguiendo" (click)="seguir()">
      Seguir <i class="bi bi-plus"></i>
    </button>
    <button *ngIf="siguiendo" (click)="dejarDeSeguir()">
      Siguiendo <i class="bi bi-check"></i>
    </button>
  </div>
  
  <!-- Botones cambio cuenta -->
  <div class="account-buttons">
    <a routerLink="/cambioCuenta/terapeuta" class="btn-switch terapeuta">
      <i class="bi bi-person-fill"></i> Cambiar a terapeuta
    </a>

    <a routerLink="/cambioCuenta/organizacion" class="btn-switch organizacion">
      <i class="bi bi-building"></i> Cambiar a organización
    </a>
  </div>
</div>

<app-publicacion></app-publicacion>
