<app-header></app-header>
    <main class="m-5">
      <section class="hero">
        <div class="hero-content">
          <h1>Los mejores profesionales para tu salud mental</h1>
          <p>Contacta con ellos y déjate ayudar</p>
          <a href="#about" class="btn">Empieza a buscar</a>
        </div>
      </section>
      <app-carrusel></app-carrusel>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.2278508916215!2d23.639156423817287!3d-3.1160312316793917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19f6ede15519abb1%3A0x6619ca7b31f78561!2stempio%20di%20walter%20white!5e0!3m2!1ses!2ses!4v1738921520670!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <app-publicacion></app-publicacion>
    </main>
<app-footer></app-footer>
