<!-- home.component.html -->
<app-header></app-header>

<main class="home-container">
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1>Los mejores profesionales para tu salud mental</h1>
      <p>Contacta con ellos y déjate ayudar</p>
      <a href="#terapeutas" class="btn">Empieza a buscar</a>
    </div>
  </section>

  <!-- Carrusel de terapeutas -->
  <section id="terapeutas" class="carousel-section">
    <app-carrusel></app-carrusel>
  </section>

  <app-publicar></app-publicar>

  <!-- Publicaciones -->
   <h1 class="m-3 text-center">Publicaciones de tus seguidores</h1>
  <section class="publicaciones-section">
    <div *ngFor="let publicacion of publicaciones">
      <app-publicacion [publicaciones]="publicacion"></app-publicacion>
    </div>
  </section>
</main>

<app-footer></app-footer>
