<app-header></app-header>

<div class="conversaciones-container">
  <div class="sidebar">
    <h3>Conversaciones</h3>
    <ul>
      <li *ngFor="let conversacion of conversaciones" (click)="seleccionarConversacion(conversacion)">
        {{ conversacion.nombre }}
        <img [src]="conversacion.foto" alt="foto de usuario {{ conversacion.id }}">
      </li>
    </ul>
  </div>
  <div class="chat-container">
    <app-chat [usuarioId]="userId" [receptorId]="selectedConversacion?.id || 0"></app-chat>
  </div>
</div>