@import "../../../styles.scss";

.conversaciones-container {
    display: flex;
}

.sidebar {
    width: 280px;
    height: 84vh;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .sin-leer {
        background-color: green;
        color: white;
        font-size: 12px;
        font-weight: bold;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px #00ff00cc;
        animation: pulse 1.5s infinite alternate ease-in-out;
      }
      
      @keyframes pulse {
        from {
          transform: scale(1);
          opacity: 1;
        }
        to {
          transform: scale(1.2);
          opacity: 0.9;
        }
      }
      

}

.sidebar li:hover {
    background-color: #ddd;
}

.chat-container {
    flex: 1;
    padding: 10px;
}

/* Estilo para la foto de perfil */
.foto-perfil {
    width: 50px;  // Ajusta el tamaño que necesites
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out; // Transición suave
  }
  
  /* Negrita para el nombre del usuario */
  li .usuario-nombre {
    font-weight: bold !important;
  }
  
  /* Ocultar la imagen en tablets (pantallas de 768px o menos) */
  @media (max-width: 768px) {
    .foto-perfil {
      display: none;
    }
  }
  