<div class="form-container">

    <!--FALTA METER TODOS LOS DATOS DEL USUARIO-->
    <h2>Formulario de Registro</h2>

    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      
      <label for="nombreUsuario">Nombre de Usuario: </label>
      <input id="nombreUsuario" formControlName="nombreUsuario" type="text" />

      <label for="nombre">Nombre:</label>
      <input id="nombre" formControlName="nombre" type="text" />

      <label for="email">Correo Electrónico:</label>
      <input id="email" formControlName="email" type="email" />
  
      <label for="clave">Contraseña:</label>
      <input id="clave" formControlName="clave" type="password" />

      <label for="telefono">Teléfono: </label>
      <input id="telefono" formControlName="telefono" type="text" />

      <label for="fotoPerfil">Foto de Perfil</label>
      <!-- <input type="file" id="fotoPerfil" (change)="onFileSelected($event)" accept="image/*" /> -->
       <input id="fotoPerfil" formControlName="fotoPerfil" type="text" />

       <label for="fechaNacimiento">Fecha de nacimiento: </label>
       <input id="fechaNacimiento" formControlName="fechaNacimiento" type="date" />

       <label for="ubicacion">Ubicación: </label>
       <input id="ubicacion" formControlName="ubicacion" type="text" />

        <label for="biografia">Biografía: </label>
        <input id="biografia" formControlName="biografia" type="text" />
      
      <button type="submit" [disabled]="!registroForm.valid">Registrar</button>
    </form>
  </div>
  