<header class="sticky-top">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="btn btn-primary d-lg-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        Menú
      </a>
      <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Mi perfil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            <img class="img-fluid" src="assets/perfil.jpg">
            <p>Nombre del usuario</p>
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
              Otras opciones
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Sobre nosotros</a></li>
              <li><a class="dropdown-item" href="#">FAQ</a></li>
              <li><a class="dropdown-item" href="#">Contáctanos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <a class="imagen" (click)="redirectHome()">
        <img class="logo-img" src="assets/LogoLetras.jpeg" alt="Logo">
      </a>
      <div class="d-flex flex-row-reverse d-none d-sm-block">
        <ul class="navbar-nav">
          <li *ngIf="logged" class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/terapeutas">Terapeutas</a>
          </li>
          <li *ngIf="logged" class="nav-item">
            <a class="nav-link" routerLink="/chat/1">Mensajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cursos">Vídeos</a>
          </li>
          <li *ngIf="logged" class="nav-item">
            <a class="nav-link" routerLink="/perfil/{{ usuario }}">Perfil</a>
          </li>
          <li *ngIf="!logged" class="nav-item">
            <a class="btn btn-primary" routerLink="/login">Iniciar sesión</a>
          </li>
          <li *ngIf="!logged" class="nav-item">
            <a class="btn btn-secondary" routerLink="/registro">Registrarse</a>
          </li>
          <li *ngIf="logged" class="nav-item">
            <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar sesión</button>
          </li>
        </ul>
      </div>
      <div class="search-container">
        <input type="text" placeholder="Buscar usuarios..." (input)="onSearch($event)">
        <button (click)="buscarUsuarios()">
          <i class="bi bi-search"></i>
        </button>
        <div *ngIf="resultadosBusqueda.length > 0" class="search-results">
          <ul>
            <li *ngFor="let usuario of resultadosBusqueda" (click)="verPerfil(usuario.username)">
              <img [src]="usuario.fotoPerfil || 'assets/default.png'" alt="Foto de perfil" class="foto-perfil">
              <span>{{ usuario.username }} - {{ usuario.nombre }}</span>
            </li>
          </ul>
        </div>
      </div>      
    </div>
  </nav>
</header>